<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <%= artist.name %>
  <% artist.songs.each do |song| %>
  <a href="../songs/<%= song.to_slug %>.html"><%=song.name%></a>
  <% end %>
  <% artist.genres.each do |genre| %>
  <a href="../genres/<%= genre.to_slug %>.html"><%=genre.name%></a>
  <% end %>
  @artist.genres
</body>
</html>
